<mat-card *ngIf="displayedCourt$ | async as displayedCourt">
  <tc-court-form
    submitButtonText="Update court"
    cancelButtonText="Delete court"
    [readOnly]="!(userIsManager$ | async)"
    [court]="displayedCourt"
    (courtChange)="updateCourt(displayedCourt, $event)"
    (cancelClick)="deleteCourt(displayedCourt)"
  ></tc-court-form>
</mat-card>

<div class="booking-button-container">
  <button
    *ngIf="displayedCourt$ | async as displayedCourt"
    mat-raised-button
    color="primary"
    class="booking-button"
    (click)="addBooking(displayedCourt)"
  >
    Make booking
  </button>
</div>

<mat-card class="events-card">
  <mat-card-header>
    <mat-icon mat-card-avatar color="primary">event</mat-icon>
    <mat-card-title>Events</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="displayedEvents$" class="events-table">
      <ng-container [matColumnDef]="EventTableColumn.Type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let event">
          {{ typeNames[asEventType(event.type)] }}
        </td>
      </ng-container>
      <ng-container [matColumnDef]="EventTableColumn.StartTime">
        <th mat-header-cell *matHeaderCellDef>Starts</th>
        <td mat-cell *matCellDef="let event">
          {{ event.startTime | date: 'MMMM d, h:mm' }}
        </td>
      </ng-container>
      <ng-container [matColumnDef]="EventTableColumn.EndTime">
        <th mat-header-cell *matHeaderCellDef>Ends</th>
        <td mat-cell *matCellDef="let event">
          {{ event.endTime | date: 'MMMM d, h:mm' }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="eventColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: eventColumns"
        routerLink="/main/{{ row.type.toLowerCase() }}/{{ row.id }}"
      ></tr>
    </table>
  </mat-card-content>
</mat-card>
