<mat-card *ngIf="displayedCourt$ | async as displayedCourt">
  <tc-court-form
    submitButtonText="Update court"
    cancelButtonText="Delete court"
    [readOnly]="!(userIsManager$ | async)"
    [court]="displayedCourt"
    (courtChange)="updateCourt(displayedCourt, $event)"
    (cancelClick)="deleteCourt(displayedCourt)"
  ></tc-court-form>
</mat-card>

<div class="booking-button-container">
  <button
    *ngIf="displayedCourt$ | async as displayedCourt"
    mat-raised-button
    color="primary"
    class="booking-button"
    (click)="addBooking(displayedCourt)"
  >
    Make booking
  </button>
</div>

<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Upcoming events">
    <tc-event-list [displayedEvents$]="displayedEventsFuture$"></tc-event-list>
  </mat-tab>
  <mat-tab label="All events">
    <div class="event-tab">
    <tc-event-list [displayedEvents$]="displayedEventsAll$"></tc-event-list>
    </div>
  </mat-tab>
</mat-tab-group>
