.events-card {
  margin-top: 40px;
}

.events-table {
  width: 100%;
}

.booking-button-container {
  display: flex;
  justify-content: center;
}

.booking-button {
  margin-top: 40px;
}

.mat-row:hover {
  background-color: #eeeeee;
  cursor: pointer;
}
