<div *ngIf="displayedCourt$ | async as displayedCourt">
  <mat-card>
    <tc-court-form
      submitButtonText="Update court"
      cancelButtonText="Delete court"
      [readOnly]="!(userIsManager$ | async)"
      [court]="displayedCourt"
      (courtChange)="updateCourt(displayedCourt, $event)"
      (cancelClick)="deleteCourt(displayedCourt)"
    ></tc-court-form>
  </mat-card>

  <div class="event-button-container">
    <button
      *ngIf="userIsManager$ | async"
      mat-raised-button
      color="primary"
      class="add-button"
      (click)="addLesson(displayedCourt$)"
    >
      Make lesson
    </button>
    <button
      mat-raised-button
      color="primary"
      class="add-button"
      (click)="addBooking(displayedCourt)"
    >
      Make booking
    </button>
    <button
      *ngIf="userIsManager$ | async"
      mat-raised-button
      color="primary"
      class="add-button"
      (click)="addTournament(displayedCourt$)"
    >
      Make tournament
    </button>
  </div>
</div>
<mat-tab-group mat-align-tabs="start">
  <mat-tab *ngIf="displayedEventsToday$ | async as todayEvents" label="Today">
    <tc-event-list [displayedEvents$]="todayEvents"></tc-event-list>
  </mat-tab>
  <mat-tab
    *ngIf="displayedEventsFuture$ | async as futureEvents"
    label="Upcoming events"
  >
    <tc-event-list [displayedEvents$]="futureEvents"></tc-event-list>
  </mat-tab>
  <mat-tab *ngIf="displayedEventsAll$ | async as allEvents" label="All events">
    <tc-event-list [displayedEvents$]="allEvents"></tc-event-list>
  </mat-tab>
</mat-tab-group>
