<div *ngIf="displayedBooking$ | async as displayedBooking">
  <div>
    <button
      mat-raised-button
      color="primary"
      class="back-button"
      routerLink="/main/court/{{ displayedBooking.court.id }}"
    >
      <mat-icon class="arrow">west</mat-icon>
      Go back to court
    </button>
  </div>

  <mat-card>
    <tc-booking-form
      [readOnly]="!(userIsAuthor$ | async)"
      [booking]="displayedBooking"
      cancelButtonText="Delete booking"
      submitButtonText="update"
      (cancelClick)="deleteBooking(displayedBooking)"
      (submitClick)="updateBooking(displayedBooking, $event)"
    ></tc-booking-form>
  </mat-card>
</div>
