<form
  class="tournament-form"
  [formGroup]="tournamentForm"
  (ngSubmit)="submit()"
>
  <div class="form-content">
    <div class="field-list">
      <div class="date-container">
        <mat-form-field appearance="fill" class="date-input-left date-input">
          <mat-label>Start</mat-label>
          <input
            type="datetime-local"
            matInput
            [min]="currentTime"
            [max]="TournamentFormKey.End"
            [formControlName]="TournamentFormKey.Start"
            [readonly]="readOnly"
          />
          <mat-error
                  *ngIf="tournamentForm.controls[TournamentFormKey.Start].errors?.error as error"
          >
            {{ error }}
          </mat-error>
          <mat-icon matSuffix class="start-date">schedule</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="date-input">
          <mat-label>End</mat-label>
          <input
            type="datetime-local"
            matInput
            [min]="TournamentFormKey.Start"
            [formControlName]="TournamentFormKey.End"
            [readonly]="readOnly"
          />
          <mat-error
                  *ngIf="tournamentForm.controls[TournamentFormKey.End].errors?.error as error"
          >
            {{ error }}
          </mat-error>
          <mat-icon matSuffix class="end-date">schedule</mat-icon>
        </mat-form-field>
      </div>
      <mat-form-field *ngIf="!adding" appearance="fill" class="field">
        <mat-label>Court</mat-label>
        <mat-select [formControlName]="TournamentFormKey.Court">
          <mat-option
            *ngFor="let court of courts$ | async"
            [value]="court.id"
            [disabled]="(readOnly && court != null) || reschedule || hasEnded()"
            >{{ court.name }}</mat-option
          >
        </mat-select>
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Name</mat-label>
        <input
          matInput
          [formControlName]="TournamentFormKey.Name"
          [readonly]="(readOnly || reschedule) || hasEnded()"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Capacity</mat-label>
        <input
          type="number"
          matInput
          [formControlName]="TournamentFormKey.Capacity"
          [readonly]="(readOnly || reschedule) || hasEnded()"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Prize</mat-label>
        <input
          type="number"
          matInput
          [formControlName]="TournamentFormKey.Prize"
          [readonly]="(readOnly || reschedule) || hasEnded()"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="form-actions" *ngIf="readOnly && !hasStarted()">
    <button
      *ngIf="!(isEnrolledAlready$ | async); else enrolledAlready"
      type="button"
      mat-flat-button
      color="primary"
      (click)="addPlayer()"
      [disabled]="isEnrolledAlready$ | async"
    >
      join tournament
    </button>
    <ng-template #enrolledAlready>
      <button
        *ngIf="isEnrolledAlready$ | async; else enrolledAlready"
        type="button"
        mat-flat-button
        color="primary"
        (click)="withdrawPlayer()"
        [disabled]="!(isEnrolledAlready$ | async)"
      >
        withdraw from tournament
      </button>
    </ng-template>
  </div>
  <div class="form-actions" *ngIf="!readOnly">
    <button type="button" mat-flat-button color="warn" (click)="cancel()">
      {{ cancelButtonText }}
    </button>
    <button
      mat-flat-button
      color="primary"
      [disabled]="tournamentForm.invalid || tournamentForm.pristine"
    >
      {{ submitButtonText }}
    </button>
  </div>
</form>
