.tournament-form {
  &,
  & > * {
    width: 100%;
  }
}

.form-content {
  display: flex;
}

.field-list {
  flex-basis: 100%;
}

.field {
  width: 100%;
}

.form-actions {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.start-date {
  color: forestgreen;
}

.end-date {
  color: red;
}
.date-container {
  display: flex;
  width: 100%;
}

.date-input {
  flex-grow: 1;
}

.date-input-left {
  flex-grow: 1;
  padding-right: 2%;
}
