.court-card {
  cursor: pointer;
}

.header {
  padding-bottom: 10px;
}

.preview-image {
  height: 200px;
  object-fit: cover;
  background: #eeeeee url('~src/assets/no-image.svg') center center no-repeat;
  background-size: contain;
}
