<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div *ngIf="hasEnded; else hasntEndedYet">Ranking of the tournament</div>
      <ng-template #hasntEndedYet> List of participants </ng-template>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list role="list">
    <mat-list-item *ngFor="let ranking of rankings | sortRankings">
      <div mat-line>{{ ranking.playerPlacement }}</div>
      <div mat-line>{{ ranking.player.name }}</div>
      <button
        mat-raised-button
        *ngIf="!hasStarted && (userIsManager$ | async)"
        color="warn"
        (click)="withdrawPlayer(ranking.player)"
      >
        withdraw
      </button>
      <button
        mat-raised-button
        *ngIf="hasEnded && (userIsManager$ | async)"
        color="primary"
        (click)="rankPlayer(ranking)"
      >
        rank
      </button>
    </mat-list-item>
  </mat-list>
  <button
    *ngIf="hasStarted && (userIsManager$ | async)"
    mat-raised-button
    color="primary"
    class="button"
    (click)="addParticipant()"
  >
    Add a participant
  </button>
</mat-expansion-panel>
