<mat-card *ngIf="displayedTournament$ | async as displayedTournament">
  <tc-tournament-form
    cancelButtonText="Delete tournament"
    [readOnly]="true"
    [tournament]="displayedTournament"
    [isEnrolledAlready$]="isUserEnrolled$"
    (cancelClick)="deleteTournament(displayedTournament)"
    (addUser)="addPlayer(displayedTournament)"
    (withdrawUser)="withdrawPlayer(displayedTournament)"
  ></tc-tournament-form>
  <tc-tournament-ranking *ngIf="userIsManager$ | async"
    [rankings]="displayedTournament.rankings"
    [endDate]="displayedTournament.endTime">
  </tc-tournament-ranking>
</mat-card>
