<mat-card *ngIf="displayedTournament$ | async as displayedTournament">
  <tc-tournament-form
    submitButtonText="Reschedule tournament"
    cancelButtonText="Delete tournament"
    (tournamentReschedule)="rescheduleTournament(displayedTournament, $event)"
    [adding]="false"
    [readOnly]="!(userIsManager$ | async)"
    [reschedule]="!!(userIsManager$ | async)"
    [tournament]="displayedTournament"
    [isEnrolledAlready$]="isUserEnrolled$"
    [currentlyLoggedInUser$]="currentlyLoggedInUser$"
    (cancelClick)="deleteTournament(displayedTournament)"
    (addUser)="addPlayer(displayedTournament, $event)"
    (withdrawUser)="withdrawLoggedInPlayer(displayedTournament, $event)"
  ></tc-tournament-form>
  <tc-tournament-ranking
    *ngIf="
      currentTime > displayedTournament.endTime || (userIsManager$ | async)
    "
    [rankings]="displayedTournament.rankings"
    [startDate]="convertToDate(displayedTournament.startTime)"
    [endDate]="convertToDate(displayedTournament.endTime)"
    [userIsManager$]="userIsManager$"
    [selectedTournament]="displayedTournament"
    (withdraw)="withdrawPlayer(displayedTournament, $event)"
  >
  </tc-tournament-ranking>
</mat-card>
