<mat-card *ngIf="displayedLesson$ | async as displayedLesson">
  <tc-lesson-form
    submitButtonText="Reschedule lesson"
    cancelButtonText="Delete lesson"
    [readOnly]="!(userIsManager$ | async)"
    [reschedule]="!!(userIsManager$ | async)"
    [lesson]="displayedLesson"
    [isStudent$]="isUserStudent$"
    [isTeacher$]="isUserTeacher$"
    (lessonChange)="rescheduleLesson(displayedLesson, $event)"
    (cancelClick)="deleteLesson(displayedLesson)"
    (enrollUser)="enrollUser(displayedLesson)"
    (withdrawUser)="withdrawUser(displayedLesson)"
  ></tc-lesson-form>
  <tc-lesson-students-list
    *ngIf="(isUserTeacher$ | async) || (userIsManager$ | async)"
    [canAddStudent]="userIsManager$ | async"
    [canWithdrawStudent]="userIsManager$ | async"
    [students]="displayedLesson.students"
    [teachers]="displayedLesson.teachers"
    [selectedLesson]="displayedLesson"
  >
  </tc-lesson-students-list>
  <tc-lesson-teachers-list
    *ngIf="userIsManager$ | async"
    [canAddTeacher]="userIsManager$ | async"
    [canRemoveTeacher]="userIsManager$ | async"
    [students]="displayedLesson.students"
    [teachers]="displayedLesson.teachers"
    [selectedLesson]="displayedLesson"
  >
  </tc-lesson-teachers-list>
</mat-card>
