<mat-card *ngIf="displayedLesson$ | async as displayedLesson">
  <tc-lesson-form
    cancelButtonText="Delete lesson"
    [readOnly]="!(userIsManager$ | async)"
    [lesson]="displayedLesson"
    (cancelClick)="deleteLesson(displayedLesson)"
    (enrollUser)="enrollUser(displayedLesson)"
  ></tc-lesson-form>
  <tc-lesson-students-list
    *ngIf="userIsManager$ | async"
    [canAddStudent]="userIsManager$ | async"
    [canWithdrawStudent]="userIsManager$ | async"
    [students]="displayedLesson.students"
    [teachers]="displayedLesson.teachers"
    [selectedLesson]="displayedLesson"
  >
  </tc-lesson-students-list>
  <tc-lesson-teachers-list
    *ngIf="userIsManager$ | async"
    [canAddTeacher]="userIsManager$ | async"
    [canRemoveTeacher]="userIsManager$ | async"
    [students]="displayedLesson.students"
    [teachers]="displayedLesson.teachers"
    [selectedLesson]="displayedLesson"
  >
  </tc-lesson-teachers-list>
</mat-card>
