<form class="court-form">

    <mat-form-field appearance="fill" class="field">
        <mat-label>Name</mat-label>
        <input
                matInput
        />
    </mat-form-field>
    <mat-form-field appearance="fill" class="field">
        <mat-label>Address</mat-label>
        <input
                matInput
        />
    </mat-form-field>

    <div class="form-actions">
        <button type="button" mat-flat-button color="warn">
            Cancel
        </button>
        <button
                mat-flat-button
                color="primary"
        >
            Submit
        </button>
    </div>

</form>
