.lesson-form {
  &,
  & > * {
    width: 100%;
  }
}

.form-content {
  display: flex;
}

.field-list {
  flex-basis: 100%;
}

.field {
  width: 100%;
}

.readonly-select {
  pointer-events: none;

  ::ng-deep .mat-select-arrow {
    visibility: hidden;
  }
}

.form-actions {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.start-date {
  color: forestgreen;
}

.end-date {
  color: red;
}
