<form class="lesson-form" [formGroup]="lessonForm" (ngSubmit)="submit()">
  <div class="form-content">
    <div class="field-list">
      <div class="field">
        <mat-form-field appearance="fill">
          <mat-label>Start</mat-label>
          <input
            type="datetime-local"
            matInput
            [min]="currentTime"
            [max]="LessonFormKey.End"
            [formControlName]="LessonFormKey.Start"
            [readonly]="readOnly"
          />
          <mat-icon matSuffix class="start-date">schedule</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>End</mat-label>
          <input
            type="datetime-local"
            matInput
            [min]="LessonFormKey.Start"
            [formControlName]="LessonFormKey.End"
            [readonly]="readOnly"
          />
          <mat-icon matSuffix class="end-date">schedule</mat-icon>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Court</mat-label>
        <mat-select [formControlName]="LessonFormKey.Court">
          <mat-option
            *ngFor="let court of courts$ | async"
            [value]="court.id"
            [disabled]="(readOnly && court != null) || reschedule "
            >{{ court.name }}</mat-option
          >
        </mat-select>
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Capacity</mat-label>
        <input
          type="number"
          matInput
          [formControlName]="LessonFormKey.Capacity"
          [readonly]="(readOnly || reschedule)"
        />
        <mat-icon matSuffix>people</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Type</mat-label>
        <mat-select [formControlName]="LessonFormKey.Level">
          <mat-option [value]="LessonLevel.Beginner" [disabled]="(readOnly || reschedule)">Beginner</mat-option>
          <mat-option [value]="LessonLevel.Advanced" [disabled]="(readOnly || reschedule)">Advanced</mat-option>
          <mat-option [value]="LessonLevel.Intermediate" [disabled]="(readOnly || reschedule)">Intermediate</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="form-actions" *ngIf="readOnly">
    <button
      *ngIf="
        !(isStudent$ | async) && !(isTeacher$ | async);
        else enrolledAlready
      "
      mat-flat-button
      color="primary"
      (click)="enroll()"
    >
      enroll into the lesson
    </button>
    <ng-template #enrolledAlready>
      <button
        *ngIf="(isStudent$ | async) && !(isTeacher$ | async)"
        type="button"
        mat-flat-button
        color="primary"
        (click)="withdraw()"
        [disabled]="isTeacher$ | async"
      >
        withdraw from lesson
      </button>
    </ng-template>
  </div>
  <div class="form-actions" *ngIf="!readOnly">
    <button type="button" mat-flat-button color="warn" (click)="cancel()">
      {{ cancelButtonText }}
    </button>
    <button
      *ngIf="!readOnly"
      mat-flat-button
      color="primary"
      [disabled]="lessonForm.invalid || lessonForm.pristine"
    >
      {{ submitButtonText }}
    </button>
  </div>
</form>
